<html>

<head>
    <title> Forms example </title>
</head>
<body>
        {{ if .Tasks}} {{range $key, $value := .Tasks}}
    <div class="note" id="{{$value.Id}}">
        <p class="noteHeading">{{ $value.Title}}</p> <span class="toggle glyphicon glyphicon-resize-full"></span>

        <span class="noteContent">
            {{$value.Content}}
        </span>

        <span class="notefooter">
        <ul class="menu">
          <li role="presentation">Priority: {{$value.Priority}}</li>
          <li role="presentation">
              <span class="glyphicon glyphicon-time"></span> {{$value.Created}}</li>
        <li role="presentation">

            <a role="menuitem" tabindex="-1" href="/mask/{{.Id}}">
                <span class="glyphicon glyphicon-lock"></span></a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/trash/{{.Id}}">
                <span class="glyphicon glyphicon-trash"></span></a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/complete/{{.Id}}">
                <span class="glyphicon glyphicon-check"></span></a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/edit/{{.Id}}">
                <span class="glyphicon glyphicon-pencil"></span></a>
        </li>

        </ul>
        </span>
    </div>
    {{end}} {{else}}
    <div class="note">
        <p class="noteHeading">No Tasks here</p>
        <p class="notefooter">Create new task
            <button class="floating-action-icon-add" >
                here </button>
        </p>
    </div>
    {{end}}
</body>
</html>